
.Cart{
    cursor: pointer;
}
.Cart .condition{
width: 500px;
position: absolute;
margin-left: -400px;
border: solid 1px #ccc;
opacity: 0;
height: auto;
text-align: left;
padding: 5px;
z-index: 10000;
margin-top: -100px;
}
.Cart:hover .condition{
    opacity: 1;
    margin-top: 0px;
}